# Fault Analysis of AUX converters

### 1. Load and Prepare Data

In [111]:
import pandas as pd

file_path = "sample_data.xlsx"

df = pd.read_excel(file_path, skiprows=3)

df.head()

,Field Name,Units,2024-12-26 17:39:40,2024-12-26 17:39:41,2024-12-26 17:39:42,2024-12-26 17:39:43,2024-12-26 17:39:44,2024-12-26 17:39:45,2024-12-26 17:39:45.1,2024-12-26 17:39:46,2024-12-26 17:39:47,2024-12-26 17:39:48
0,Packet_Index,NaN,0,0,0,0,0,0,24,0,0,0
1,Loco_speed,KMPH,0,0,0,0,0,0,0,0,0,0
2,Acceleration,m/sec2,0,0,0,0,0,0,0,0,0,0
3,OHE_Volt_KV,KV,1.2,1.2,1.2,1.2,1.2,1.2,1.2,1.2,1.2,1.2
4,OHE_Current,Amps,0,0,0,0,0,0,0,0,0,0

### Step 2. Cleanup the code (omit all string valued rows)

In [112]:
# Omit all rows where they have only string values in the columns C-L

df = df[df.iloc[:, 2:12].map(pd.api.types.is_number).any(axis=1)].reset_index(
    drop=True
)

df.head()

,Field Name,Units,2024-12-26 17:39:40,2024-12-26 17:39:41,2024-12-26 17:39:42,2024-12-26 17:39:43,2024-12-26 17:39:44,2024-12-26 17:39:45,2024-12-26 17:39:45.1,2024-12-26 17:39:46,2024-12-26 17:39:47,2024-12-26 17:39:48
0,Packet_Index,NaN,0,0,0,0,0,0,24,0,0,0
1,Loco_speed,KMPH,0,0,0,0,0,0,0,0,0,0
2,Acceleration,m/sec2,0,0,0,0,0,0,0,0,0,0
3,OHE_Volt_KV,KV,1.2,1.2,1.2,1.2,1.2,1.2,1.2,1.2,1.2,1.2
4,OHE_Current,Amps,0,0,0,0,0,0,0,0,0,0

### Step 3. Skip rows where values remained the same during before and after cases

In [113]:

def before_after_equal(row):
    before = row.iloc[2:7].values  # Get 'before' values
    after = row.iloc[7:12].values  # Get 'after' values
    return (before == after).all()  # Compare


# Apply the filter to remove rows where before == after
df = df[~df.apply(before_after_equal, axis=1)].reset_index(drop=True)
df.head()

,Field Name,Units,2024-12-26 17:39:40,2024-12-26 17:39:41,2024-12-26 17:39:42,2024-12-26 17:39:43,2024-12-26 17:39:44,2024-12-26 17:39:45,2024-12-26 17:39:45.1,2024-12-26 17:39:46,2024-12-26 17:39:47,2024-12-26 17:39:48
0,Packet_Index,NaN,0,0,0,0,0,0,24,0,0,0
1,Bogie1_DCLV,Volts,577,573,563,557,560,559,550,554,538,545
2,Bogie2_DCLV,Volts,572,576,554,575,559,551,550,561,546,542
3,Aux_Winding_I,Amps,11,11,12,12,14,11,12,9,11,12
4,Bogie1_T_F_Oil_Temp,Deg c,48,48,48,48,48,48,48,48,49,48

### Step 3.1 Further cleaning of NaN, NUM unit values

In [114]:
# Remove rows where the "Units" column is NaN or equals "NUM"
if "Units" in df.columns:
    df = df[~(df["Units"].isna() | (df["Units"] == "NUM"))].reset_index(drop=True)
df.head()

,Field Name,Units,2024-12-26 17:39:40,2024-12-26 17:39:41,2024-12-26 17:39:42,2024-12-26 17:39:43,2024-12-26 17:39:44,2024-12-26 17:39:45,2024-12-26 17:39:45.1,2024-12-26 17:39:46,2024-12-26 17:39:47,2024-12-26 17:39:48
0,Bogie1_DCLV,Volts,577,573,563,557,560,559,550,554,538,545
1,Bogie2_DCLV,Volts,572,576,554,575,559,551,550,561,546,542
2,Aux_Winding_I,Amps,11,11,12,12,14,11,12,9,11,12
3,Bogie1_T_F_Oil_Temp,Deg c,48,48,48,48,48,48,48,48,49,48
4,VCU1_DIP_Temp,Deg c,36,36,37,36,37,37,36,36,36,37

### Step 4. Calculate the mean values of before and after values

In [ ]:
# Calculate mean of columns C-G as 'before' and H-L as 'after' using the dataframe df

df['before'] = df.iloc[:, 2:7].mean(axis=1)
df['after'] = df.iloc[:, 7:12].mean(axis=1)

# Calculate mean values
df_means = df.iloc[:, :2].copy()
df_means['before'] = df['before']
df_means['after'] = df['after']

# Output to check
df_means

                 Field Name  Units
0               Bogie1_DCLV  Volts
1               Bogie2_DCLV  Volts
2             Aux_Winding_I   Amps
3       Bogie1_T_F_Oil_Temp  Deg c
4             VCU1_DIP_Temp  Deg c
5             VCU2_DIP_Temp  Deg c
6                TM1_I_Peak   Amps
7                TM2_I_Peak   Amps
8                TM3_I_Peak   Amps
9                TM4_I_Peak   Amps
10               TM5_I_Peak   Amps
11                 TM1_DCLV  Volts
12                 TM2_DCLV  Volts
13                 TM3_DCLV  Volts
14                 TM4_DCLV  Volts
15                 TM5_DCLV  Volts
16                 TM6_DCLV  Volts
17                 HL_I_LC1   Amps
18                 HL_I_LC2   Amps
19                 HL_I_LC3   Amps
20                 HL_I_LC4   Amps
21                 DCLV_LC1  Volts
22                 DCLV_LC2  Volts
23                 DCLV_LC3  Volts
24                 DCLV_LC4  Volts
25           Aux_CurrentLC1   Amps
26           Aux_CurrentLC2   Amps
27           Aux_CurrentLC3   Amps
28           Aux_CurrentLC4   Amps
29             LC4_Ph_Temp1  Deg c
30             LC1_Ph_Temp2  Deg c
31             LC3_Ph_Temp2  Deg c
32           Conv1_CoolTmp1  Deg c
33             BG1_FOilTmp1  Deg c
34            BG1_TFOilTmp2  Deg c
35            BG2_TFOilTmp1  Deg c
36        AC1_Input_Voltage  Volts
37        AC2_Input_Voltage  Volts
38        AC3_Input_Voltage  Volts
39        AC3_Input_Current   Amps
40                 AC2_DCLV  Volts
41                 AC1_DCLI   Amps
42                 AC2_DCLI   Amps
43            AC2_Batt_DCLV  Volts
44            AC3_Batt_DCLV  Volts
45           AC3_INV_HS_TMP  Deg c
46      AC1_Input_Frequency     Hz
47      AC2_Input_Frequency     Hz
48      AC3_Input_Frequency     Hz
49               LC1_VsPeak  Volts
50               LC1_IsPeak   Amps
51        LC1_Vs_10mSec_Rms  Volts
52                LC1_OVL_I   Amps
53           LC1_DCL_EFlt_V  Volts
54  LC1__Is_Rms_With_Ripple   Amps
55             LC1_DCLV_Max  Volts
56       LTC1_Terminal_Temp  Deg c
57               LC2_VsPeak  Volts
58               LC2_IsPeak   Amps
59        LC2_Vs_10mSec_Rms  Volts
60               LC2_IpPeak   Amps
61                LC2_OVL_I   Amps
62           LC2_DCL_EFlt_V  Volts
63  LC2__Is_Rms_With_Ripple   Amps
64             LC2_DCLV_Max  volts
65               LC3_VsPeak  volts
66               LC3_IsPeak   Amps
67        LC3_Vs_10mSec_Rms  volts
68               LC3_IpPeak   Amps
69                LC3_OVL_I   Amps
70           LC3_DCL_EFlt_V  Volts
71  LC3__Is_Rms_With_Ripple   Amps
72             LC3_DCLV_Max  Volts
73       LTC2_Terminal_Temp  Deg c
74               LC4_VsPeak  Volts
75               LC4_IsPeak   Amps
76        LC4_Vs_10mSec_Rms  Volts
77               LC4_IpPeak   Amps
78                LC4_OVL_I   Amps
79           LC4_DCL_EFlt_V  Volts
80             LC4_DCLV_Max  Volts